button{
  margin: 0.5vh;
}
body {
  background-color: var(--page-background) !important;
  color: var(--text-color) !important;
  scrollbar-color: var(--accent-2) var(--highlight-color);
  height: 100%;
  width: 100%;
}
html{
  height: 100%;
  width: 100%;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 5.1vh;
  width: 5.1vh;
  left: 0.79vh;
  bottom: 0.79vh;
  background-color: var(--accent-3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--accent-2);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-2);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
iframe {
  border-width: 1px !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
  border-radius: 15px;
}
#controls {
  margin-left: 20px;
  border-color: var(--accent-2);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  height: 390px !important;
  background-color: var(--accent-1);
  overflow: hidden;
}
.titles {
  height: 300px;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 40px;
  background: var(--highlight-color);
}
::-webkit-scrollbar-thumb {
  background: var(--accent-2);
  border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}
#controlsBar {
  border-radius: 15px 15px 0 0;
  background-color: var(--accent-2);
}
.w3-ul.w3-hoverable li:hover {
  background-color: var(--accent-3) !important;
}
#loadOutside {
  background-color: var(--accent-2);
}
#loadBar {
  background-color: var(--accent-1);
}
.btn1 {
  background-color: var(--accent-2) !important;
  color: var(--accent-3) !important;
}
.btn1v2 {
  background-color: var(--text-color) !important;
  color: var(--accent-3) !important;
}
.btn2 {
  background-color: var(--accent-3) !important;
  color: var(--accent-2) !important;
}
#titleDisplay li {
  color: var(--accent-2);
}
.individualTitle {
  width: 100% !important;
}
hr {
  border-color: var(--highlight-color) !important;
}
#menuButton {
  position: absolute;
  z-index: 2;
  top: 1.6em;
  right: 1vw;
}
#rightclick-menu {
  min-width: 10vw;
  max-width: 20vw;
  box-shadow: 0 0 20px rgba(37, 40, 42, 0.22);
  padding: 1vw;
  position: fixed;
}

.rightclick-menu-item {
  width: 100%;
  text-wrap: stable;
}
button {
  text-wrap: stable;
}
.inputBox {
  color: var(--accent-1);
  background-color: var(--highlight-color);
}
#alerts {
  z-index: 1000000000000;
  position: absolute;
  top: 0.5vh;
  left: 0.5vh;
}
.alert {
  border-width: 0.2vh;
  border-style: solid;
  color: var(--accent-1);
  background-color: var(--highlight-color);
  font-size: 2vh;
  border-color: transparent;
  border-radius: 1vh;
  width: fit-content;
  padding-right: 2vh;
  padding: 0.7vh 0.7vh 0.7vh 0.7vh;
  margin: 0.5vh 0.5vh 0.5vh 0.5vh;
  transition: opacity 0.3s linear;
  z-index: 100 !important;
  line-height: 4vh;
  max-width: 40vw;
  text-wrap: stable;
}
.alertText {
  font-size: 2vh;
}
.alertHead {
  font-size: 2.7vh;
}
.closeAlert {
  font-size: 1.5vh;
}
#menu{
  min-width: 10vw;
  min-height: 10vw;
  width: fit-content;
  height: fit-content;
  background-color:var(--text-color);
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  border-radius: 1vw 0 1vw 1vw;
  position: absolute;
  right: 1vw;
  top: 4.3em;
  z-index: 3;
}
